.App {
  text-align: center;
}
/* Banner.css */

.banner {
  background-color: #3498db; /* Set your desired background color */
  color: #fff; /* Set your desired text color */
  text-align: center;
  padding: 20px;
}

.banner h1 {
  margin: 0;
  font-size: xx-large; /* Set your desired font size */
}

/* InfoContainer.css */

.info-container {
  background-color: #f1f1f1; /* Set your desired background color */
  border: 1px solid #ddd; /* Set your desired border style */
  padding: 20px;
  margin: 20px;
  border-radius: 8px; /* Set your desired border radius */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Set your desired box shadow */
}



